{template 'common/header'}

<div class="panel panel-default">
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead class="navbar-inner">
            <tr>
                <th style="width:100px;">昵称</th>
                <th style="width:100px;">参与时间</th>
                <th style="width:50px;">姓名</th>
                <th style="width:100px;">手机号</th>
                <th style="width:50px;">状态</th>
                <th style="width:100px;">查看</th>
                <th style="width:80px; text-align:right;">操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $order $data}
            <tr>
                <td>
                    {$data['nickname']}
                </td>
                <td>
                    {$data['create_time']}
                </td>
                <td>
                    {$data['name']}
                </td>
                <td>
                    {$data['phone']}
                </td>
                <td>

                    {if $data['order_status']==0}
                        <span style="display:block;text-align:center;padding:10px 0;font-size: 12px;line-height:1;color:#fff;width:46px;height:30px;border-radius:3px;background-color: red">
                            砍价中
                        </span>
                    {/if}

                    {if $data['order_status']==1}
                        <span style="display:block;text-align:center;padding:10px 0;font-size: 12px;line-height:1;color:#fff;width:46px;height:30px;border-radius:3px;background-color: blue">
                            待付款
                        </span>
                    {/if}

                    {if $data['order_status']==2}
                        <span style="display:block;text-align:center;padding:10px 0;font-size: 12px;line-height:1;color:#fff;width:46px;height:30px;border-radius:3px;background-color:#456789">
                            待核销
                        </span>
                    {/if}


                    {if $data['order_status']==3}
                        <span style="display:block;text-align:center;padding:10px 0;font-size: 12px;line-height:1;color:#fff;width:46px;height:30px;border-radius:3px;background-color: green">
                            已核销
                        </span>
                    {/if}

                </td>
                <td>
                    <a href="{php echo $this->createWebUrl('detailList',array('oid'=>$data['id']))}"
                       class="btn btn-primary  btn-sm">查看砍价详情</a>
                </td>
                <td style="text-align: right">
                    {if $data['order_status']==2}
                    <a href="{php echo $this->createWebUrl('verificationOrder',array('oid'=>$data['id'],'aid'=>$aid))}"
                       class="btn btn-success  btn-sm">核销</a>
                    {/if}
                    <input b id="btn" type="button" class="remarks-btn btn btn-default  btn-sm" data-toggle="modal" value="备注" >
                    <textarea  class="remarks-text" hidden="hidden" style="display: none">{$data['remarks']}</textarea>
                    <input type="hidden" class="remarks-id" value="{$data['id']}"/>
                </td>

            </tr>
            {/loop}
            </tbody>
        </table>
    </div>
    <div style="width: 100px; float: right; margin: 25px;">
        <select id="pages" class="form-control">
            {php for($i=1;$i<=$pages;$i++)  { }
            <option     {php echo $p==$i?'selected':''}    value="{php echo $this->createWebUrl('joinList',array('aid'=>$aid,'p'=>$i))}" >第 {$i} 页 </option>
            {php } }
        </select>
    </div>
    <div style="clear: both">

    </div>
</div>
<div class="modal fade" id="remarks" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">备注</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="add_remarks_form" action="{php echo $this->createWebUrl('addRemarks')}" method="post" class="form-horizontal">
                        <div class="form-group ">
                            <label for="add_remarks" class="col-xs-3 control-label">备注：</label>
                            <div class="col-xs-8 ">
                                <textarea name="remarks" id="add_remarks"  class="form-control input-sm duiqi" ></textarea>
                                <input name="oid" id="id_remarks" type="hidden"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">取 消</button>
                <button type="submit"  id="save" class="btn btn-primary " >保 存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $("#pages").change(function () {
        var url=$(this).val().trim()
        window.location.href=url
    })
</script>
<script>
    $(".remarks-btn").click(function(){
        var val=$(this).parent().find(".remarks-text").val().trim()
        var id=  $(this).parent().find(".remarks-id").val().trim()
        $("#add_remarks").val(val)
        $("#id_remarks").val(id);
        $('#remarks').modal({})

    })

    $("#save").click(function () {
        $("#add_remarks_form").submit()
    })

    add_remarks_form
</script>
{template 'common/footer'}
