{template 'common/header'}
<style>
    .footer {
        display: none;
    }
    /*未关注提示框样式*/
    .main {
        position: fixed;   /* 使用绝对定位或固定定位  */
        left: 0px;
        top: 0px;
        width:100%;
        height:100%;
        text-align:center;
        z-index: 1000;
    }
    .background {
        position: fixed;   /* 使用绝对定位或固定定位  */
        left: 0px;
        top: 0px;
        width:100%;
        height:100%;
        text-align:center;
        background: #333333;
        opacity: 0.5;
    }
    .modal_main{
        position: relative;
        z-index: 9999;
        display: block;
        margin: 50px auto;
        width: 300px;
        background-color: #ffffff;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: #666 0px 0px 10px;
    }
    .modal_head{
        display: block;
        width: 300px;
        height:57px;
        padding:14px;
    }
    .modal_code{
        display: block;
        width: 300px;
        padding: 10px;
    }

    .modal_btn{
        display: block;
        width: 300px;
        height: 40px;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        color: #007aff;
        cursor: pointer;
    }
    .line{
        display: block;
        margin: 0;
        height: 1px;
        background-color: #adadad;
        width: 300px;
    }

    .modal_code img {
        display: block;
        margin: auto;
        width: 270px;
        height: 270px;
    }

</style>

<div style="margin:0 0 30px 0;padding: 0;background-color: #eeeeee">
    <div class="mui-card-content">
        <img src="{php echo   'http://'.$_SERVER['SERVER_NAME'].'/attachment/'.$activity[0]['head_pic'] }" alt="" width="100%">
    </div>
    <div style="padding: 15px;background-color: #ffffff">
        <div><h3>{$activity[0]['name']}</h3></div>
        <div style="margin:5px 0 0 0">原价<strike>{$activity[0]['prize_old_price']}</strike></div>
        <div style="display:inline-block;margin:5px 0 5px 0 ">当前价格<strong style="color:#f0ad4e;">{$order[0]['current_price']}</strong>元</div>
        <div style="display:inline-block;width:150px;float: right;text-align: right;margin:5px 5px auto">奖品剩余<strong style="color:#f0ad4e;">{$new_prize_num}</strong>份</div>
        <div style="display:inline-block;width:100%;background-color: #eee;padding:3px;margin-top:5px;border-radius: 3px;">
            <strong style="color:#f0ad4e;">{$order[0]['nickname']}</strong>正在参与“<strong style="color:#f0ad4e;">{$activity[0]['name']}</strong>”活动，把价格砍到底价，Ta就可以特惠抢购
        </div>
        {if $order[0]['order_status']!=0}
        <div style="border:1px solid #f0ad4e;text-align: center;margin: 5px auto;border-radius: 3px;">
            <h3 style="color:#f0ad4e;line-height: 30px;">砍价完成</h3>
            <p>已经砍价到底价，感谢您的帮忙</p>
        </div>
        {elseif empty($assist_record)}
        <div style="border:1px solid #f0ad4e;text-align: center;margin: 5px auto;border-radius: 3px;">
            <h3 style="color:#f0ad4e;line-height: 30px;">帮TA砍价</h3>
                <input id="btn" type="button"
                       style="margin-bottom:10px;font-size: 20px;border:none;background-color:#f0ad4e;color:#ffffff;border-radius: 3px; "
                       value="砍价">
                <input id="sub" type="hidden" value="1">
                <input id="follow" type="hidden" value="{$information['follow']}">
                <input id="bargain_num" type="hidden" value="{$bargain_num['count']}">
                <input id="bargain_max" type="hidden" value="{$activity[0]['bargain_max']}">
                <input id="openid" type="hidden" value="{$openid}">
        </div>
        {else}
        <div style="border:1px solid #f0ad4e;text-align: center;margin: 5px auto;border-radius: 3px;">
            <h3 style="color:#f0ad4e;line-height: 30px;">你已经帮Ta砍价成功</h3>
            <p>你可以将连接分享给好友帮Ta砍价</p>
        </div>
        {/if}
        <div style="display: block;background-color: #f0ad4e;"></div>
    </div>
    <div style="padding: 3px;">
        <div style="background-color: #eeeeee;width: 100%;text-align: center;margin:5px auto; ">
            <h3 style="line-height:55px;">砍价记录</h3>
            {loop $assist_information $data}
            <div style="text-align: left;padding:2px 10px"><strong style="color: #f0ad4e">{$data['nickname']}</strong>砍掉了<strong
                    style="color: #f0ad4e">{$data['price']}</strong>元。
            </div>
            {/loop}
            <span style="display:block;width:100%;height:20px;color: #333333;overflow: hidden;">-----------------------------------------------------------------------------------------------------------</span>
        </div>
        <div style="text-align: center;padding: 5px;background-color: #ffffff">
            <h3 style="line-height: 50px;">活动规则</h3>
            {$html}
        </div>
    </div>

</div>
<!--活动倒计时-->
<div style="position:fixed;bottom:0;z-index:99;width:100%;padding:15px;background-color: #333333;color:#ffffff;box-shadow: #666 0px 0px 10px;">
    活动剩余时间：<strong id="time_d"></strong>天<strong id="time_h"></strong>小时<strong id="time_m"></strong>分<strong id="time_s">59</strong>秒
    <a style="display:block;position:absolute;right:0;top:0;height:100px;width: 100px;background-color: #ffffff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color: #333333;text-align: center;font-size: 15px;font-weight:bold;color: #333333;padding: 15px;" href="{php echo $this->createMobileUrl('index',array('aid'=>$activity[0]['id']))}">我的砍价</a>
    <input id="end_time" type="hidden" value="{$activity[0]['end_time']}">
</div>
<!--为订阅提示框-->
<div class="main" id="code">
    <div class="modal_main">
        <div class="modal_head">
            <h4>请先关注公众号</h4>
        </div>
        <div class="line"></div>
        <div class="modal_code">
            <p style="color: red">
                请长按二维码关注公众号<br />
                {if $level!=4}
                回复kj{$oid}帮忙好友砍价
                {/if}
            </p>
            <img class="img" src="{php echo   'http://'.$_SERVER['SERVER_NAME'].'/attachment/'.$activity[0]['wx_qr_code'] }">
        </div>

        <div class="line"></div>
        <div class="modal_btn">
            <label>确定</label>
        </div>
    </div>
    <div class="background"></div>
</div>
<!--砍价次数上限提示框-->
<div class="main" id="bargain">
    <div class="modal_main">
        <div class="modal_head">
            <h3 style="color: red;font-weight: bold">提示</h3>
        </div>
        <div class="line"></div>
        <div class="modal_code">
            <p>今天帮忙好友砍价次数已达上限，小伙伴明天再来吧</p>
        </div>
        <div class="line"></div>
        <div class="modal_btn">
            <label>确定</label>
        </div>
    </div>
    <div class="background"></div>
</div>
<script>
    /*未订阅提示JS*/
    $('.main').hide();
    $('#btn').bind('click', function () {


        var openid = $('#openid').val();
        var sub = $('#sub').val();
        var follow = $('#follow').val();


        var bargain_num=$('#bargain_num').val();
        var bargain_max=$('#bargain_max').val();
        //判断是否需要关注公众号才能发起活动
        if ((sub == 1 && follow == 0)||openid.length==0) {
            $('#code').show();
            $("body").css({overflow:"hidden"});

        }else if(parseInt(bargain_num)>=parseInt(bargain_max)){
            //今日帮忙砍价已达上限砍价次数以达上限
            $('#bargain').show();
            $("body").css({overflow:"hidden"});
        }else {
            window.location = "{php echo $this->createMobileUrl('forward',array('op'=>'help','oid'=>$order[0]['id']));}";
        }
    })
    //关闭提示框按钮
    $('.modal_btn').bind('click', function () {
        $('.main').hide();
        $("body").css({overflow:"visible"});
    })

    //活动倒计时
    $(function(){
        activity_time();
        bargain_time();
    });
    var end_time=$('#end_time').val();
    function activity_time(){
        var time_start = new Date().getTime(); //设定当前时间
        var time_end =  new Date(end_time).getTime(); //设定目标时间
        // 计算时间差
        var time_distance = time_end - time_start;
        // 天
        var int_day = Math.floor(time_distance/86400000)
        time_distance -= int_day * 86400000;
        // 时
        var int_hour = Math.floor(time_distance/3600000)
        time_distance -= int_hour * 3600000;
        // 分
        var int_minute = Math.floor(time_distance/60000)
        time_distance -= int_minute * 60000;
        // 秒
        var int_second = Math.floor(time_distance/1000)
        // 时分秒为单数时、前面加零
        if(int_day < 10){
            int_day = "0" + int_day;
        }
        if(int_hour < 10){
            int_hour = "0" + int_hour;
        }
        if(int_minute < 10){
            int_minute = "0" + int_minute;
        }
        if(int_second < 10){
            int_second = "0" + int_second;
        }
        // 显示时间
        $("#time_d").html(int_day);
        $("#time_h").html(int_hour);
        $("#time_m").html(int_minute);
        $("#time_s").html(int_second);
        // 设置定时器
        setTimeout("show_time()",1000);
    }
/*砍价限时*/
    function bargain_time(){
        var time_start = new Date().getTime(); //设定当前时间
        var time_end =  new Date(end_time).getTime(); //设定目标时间
        // 计算时间差
        var time_distance = time_end - time_start;
        // 天
        var int_day = Math.floor(time_distance/86400000)
        time_distance -= int_day * 86400000;
        // 时
        var int_hour = Math.floor(time_distance/3600000)
        time_distance -= int_hour * 3600000;
        // 分
        var int_minute = Math.floor(time_distance/60000)
        time_distance -= int_minute * 60000;
        // 秒
        var int_second = Math.floor(time_distance/1000)
        // 时分秒为单数时、前面加零
        if(int_day < 10){
            int_day = "0" + int_day;
        }
        if(int_hour < 10){
            int_hour = "0" + int_hour;
        }
        if(int_minute < 10){
            int_minute = "0" + int_minute;
        }
        if(int_second < 10){
            int_second = "0" + int_second;
        }
        // 显示时间
        $("#time_d").html(int_day);
        $("#time_h").html(int_hour);
        $("#time_m").html(int_minute);
        $("#time_s").html(int_second);
        // 设置定时器
        setTimeout("show_time()",1000);
    }

</script>
{template 'common/footer'}