{template 'common/header'}
{php echo register_jssdk(false);}
<style>
    /*未关注提示框样式*/
    .main {
        position: fixed; /* 使用绝对定位或固定定位  */
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1000;
    }

    .background {
        position: fixed; /* 使用绝对定位或固定定位  */
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #333333;
        opacity: 0.5;
    }

    .modal_main {
        position: relative;
        z-index: 9999;
        display: block;
        margin: 80px auto;
        width: 300px;
        background-color: #ffffff;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: #666 0px 0px 10px;

    }

    .modal_head {
        display: block;
        width: 300px;
        height: 57px;
        padding: 14px;
    }

    .modal_code {
        display: block;
        width: 300px;
        padding: 10px;
    }

    .modal_btn {
        display: block;
        width: 300px;
        height: 48px;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
        color: #3CC51F;
        cursor: pointer;
    }

    .line {
        display: block;
        margin: 0;
        height: 1px;
        background-color: #D5D5D6;
        width: 300px;
    }

    .modal_code img {
        display: block;
        margin: auto;
        width: 200px;
        height: 200px;
    }


    .bargain_btn {
        display:block;width:49%;background-color:#f56924;font-size: 18px;color:#ffffff; border:none;border-radius: 3px; padding: 5px; text-align: center;
    }

    .main_title{
        background-color: #fff;width: 100%;margin: 3px 0 0 0; padding: 1px 10px 10px 10px;
    }
    .text_c{
        text-align: center;
    }
    .title_line{
        display: inline-block;
        width:10%;
    }
    .title_line .linea{
        display: inline-block;
        width: 40%;
        border-bottom: 1px solid #000;
        vertical-align: middle;
    }
    .title_line .lineb{
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border: 1px solid #000;
        vertical-align: middle;
    }
    .title_text{
        display: inline-block;
        padding: 3px 15px;
        color: #000;
        font-size: 18px;
        margin-top: 8px;
        font-weight: bold;
        vertical-align: middle;
    }


</style>

<div style="margin:0 0 30px 0;padding: 0;background-color: #eeeeee">
    <div class="mui-card-content">
        <img src="{php echo   'http://'.$_SERVER['HTTP_HOST'].'/attachment/'.$activity[0]['head_pic'] }" alt="" width="100%">
    </div>
    <div style="padding:5px 15px;background-color: #ffffff">
        <div><h3>{$activity[0]['name']}</h3></div>
        <div style="margin:5px 0 0 0">原价<strike>{$activity[0]['prize_old_price']}</strike></div>
        <div style="display:inline-block;margin:5px 0 5px 0 ">当前价格<strong style="color:#f56924;">{$order[0]['current_price']}</strong>元</div>
        <div style="display:inline-block;width:150px;float: right;text-align: right;margin:5px 5px auto">奖品剩余<strong style="color:#f56924;">{$new_prize_num}</strong>份</div>
        <div style="display:inline-block;width:100%;background-color: #f7f7f7;padding:3px;margin:5px 0px;border-radius: 3px; line-height: 2em;">
            <strong style="color:#f56924; font-size: 16px;">{$order[0]['nickname']}</strong>正在参与“<strong style="color:#f56924;">{$activity[0]['name']}</strong>”活动，把价格砍到底价，Ta就可以特惠抢购
        </div>




        {if $timestamp<$order_end_time&&$order[0]['order_status']==0}
        <div style="border:1px solid #f56924;text-align: center;margin: 5px auto;border-radius: 3px; padding: 8px;">
            砍价剩余时间：<strong id="order_d">00</strong>天<strong id="order_h">00</strong>小时<strong id="order_m">00</strong>分<strong id="order_s">00</strong>秒
            <input type="hidden" id="order_end_time" value="{$order_end_time}">
        </div>
        {/if}

        {if $timestamp>=$order_end_time&&$order[0]['order_status']==0}

        <div style="border:1px solid #f56924;text-align: center;border-radius: 3px; padding: 8px;">
            砍价超时
        </div>


        {elseif $order[0]['order_status']!=0}
        <div style="border:1px solid #f56924;text-align: center;margin: 5px auto;border-radius: 3px;">
            <h3 style="color:#f56924;line-height: 30px;">砍价完成</h3>
            <p>已经砍价到底价，感谢您的帮忙</p>
        </div>


        <!--帮忙砍价-->
        {elseif empty($assist_record)&&$order[0]['order_status']==0}
        <div style="height: 50px;">
            <div style="margin: 10px 0px ; ">
                <input id="btn" type="button" class="bargain_btn" style="float: left;" value="帮TA砍价">
                <input id="sub" type="hidden" value="1">
                <input id="follow" type="hidden" value="{$information['follow']}">
                <input id="bargain_num" type="hidden" value="{$bargain_num['count']}">
                <input id="bargain_max" type="hidden" value="{$activity[0]['bargain_max']}">
                <input id="openid" type="hidden" value="{$openid}">
                <input id="o_time_end" type="hidden" value="{$timestamp}">
                <input id="$new_prize_num" type="hidden" value="{$new_prize_num}">
            </div>

            {if !empty($order_existence)}
            <a class="bargain_btn" style="float:right;text-decoration: none; color: #fff;" href="{php echo $this->createMobileUrl('index',array('aid'=>$activity[0]['id']))}">我的砍价</a>
            {else}
            <a class="bargain_btn" style="float:right;text-decoration: none; color: #fff;" href="{php echo $this->createMobileUrl('index',array('aid'=>$activity[0]['id']))}">我要参与</a>
            {/if}
        </div>

        <!--已经帮忙砍价-->
        {else}
        <div style="height: 45px;">
            <div style="margin: 10px 0px ;">
                <input  type="button" class="bargain_btn" style="float: left;" value="已砍">
            </div>
            {if !empty($order_existence)}
            <a class="bargain_btn" style="float:right;text-decoration: none; color: #fff;" href="{php echo $this->createMobileUrl('index',array('aid'=>$activity[0]['id']))}">我的砍价</a>
            {else}
            <a class="bargain_btn" style="float:right;text-decoration: none; color: #fff;" href="{php echo $this->createMobileUrl('index',array('aid'=>$activity[0]['id']))}">我要参与</a>
            {/if}
        </div>

        {/if}

    </div>
    <div>

        <div class="main_title">
            <div class="text_c" style="margin-top:10px;">
                <div class="title_line" style="margin-right: -10px;">
                    <span class="linea"></span>
                    <span class="lineb"></span>
                </div>
                <div class="title_text">
                    <p style="min-width: 1em; color: rgb(0, 0, 0); font-size: 18px; line-height: 18px; font-weight: bold;">
                        &nbsp;砍价记录&nbsp;
                    </p>
                </div>
                <div  class="title_line" style="margin-left: -10px;">
                    <span class="lineb"></span>
                    <span class="linea"></span>
                </div>
            </div>
            <p style="text-align: center;margin-top:-10px;">
                <span style="font-size: 12px; color: rgb(127, 127, 127);">BARGAIN RECORD</span>
            </p>
            {if !empty($order) && $bargain_num>0}
            {loop $assist_information $data}
            <div style="text-align: left;padding:2px 10px"><strong style="color: #f0ad4e">{$data['nickname']}</strong>砍掉了<strong
                    style="color: #f56924">{$data['price']}</strong>元。
            </div>
            {/loop}
            {elseif !empty($order) && $bargain_num == 0}
            <div style="text-align: center;padding:2px 10px">
                还没有好友帮TA砍价！
            </div>
            {/if}
        </div>

        <style>
            .bargain_img img{max-width: 100%;}
        </style>
        <div class="main_title bargain_img">
            <div class="text_c" style="margin-top:10px;">
                <div class="title_line" style="margin-right: -10px;">
                    <span class="linea"></span>
                    <span class="lineb"></span>
                </div>
                <div class="title_text">
                    <p style="min-width: 1em; color: rgb(0, 0, 0); font-size: 18px; line-height: 18px; font-weight: bold;">
                        &nbsp;活动简介&nbsp;
                    </p>
                </div>
                <div  class="title_line" style="margin-left: -10px;">
                    <span class="lineb"></span>
                    <span class="linea"></span>
                </div>
            </div>
            <p style="text-align: center;margin-top:-10px;">
                <span style="font-size: 12px; color: rgb(127, 127, 127);">BARGAIN INTRODUCTION</span>
            </p>
            {$html}
        </div>
    </div>

</div>


<!--活动倒计时-->


<div style="position:fixed;bottom:0;z-index:99;width:100%;padding:15px 0;background-color: #fff;color:#000;box-shadow:0px -1px 2px #f7f7f7;">
    <div style="display: inline-block;width: 65%;font-size:13px;padding-left: 10px;">
        活动剩余时间：<strong id="time_d">00</strong>天<strong id="time_h">00</strong>小时<strong id="time_m">00</strong>分<strong id="time_s">00</strong>秒
    </div>
    {if !empty($order_existence)}
    <a style="display:block;position:absolute;right:10px;top:10px;background-color: #f56924;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color: #333333;text-align: center;font-size: 15px;font-weight:bold;color: #fff;padding: 6px 15px; text-decoration: none;" href="{php echo $this->createMobileUrl('index',array('aid'=>$activity[0]['id']))}">我的砍价</a>
    {else}
    <a style="display:block;position:absolute;right:10px;top:10px;background-color: #f56924;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color: #333333;text-align: center;font-size: 15px;font-weight:bold;color: #fff;padding: 6px 15px; text-decoration: none;" href="{php echo $this->createMobileUrl('index',array('aid'=>$activity[0]['id']))}">我要参与</a>
    {/if}
    <input id="end_time" type="hidden" value="{$activity[0]['end_time']}">
</div>
<!--为订阅提示框-->
<div class="main" id="code">
    <div class="modal_main">


        <div class="modal_code">
            <h4>温馨提示</h4>
            <p style="color: red">
                请长按二维码关注公众号<br />
                {if $level!=4}
                回复kj{$oid}帮忙好友砍价
                {/if}
            </p>
            <img class="img" src="{php echo   'http://'.$_SERVER['HTTP_HOST'].'/attachment/'.$activity[0]['wx_qr_code'] }">
        </div>

        <div class="line"></div>
        <div class="modal_btn">
            知道了
        </div>
    </div>
    <div class="background"></div>
</div>
<!--砍价次数上限提示框-->
<div class="main" id="bargain">
    <div class="modal_main">

        <div class="modal_code">
            <h3 >提示</h3>
            {if $timestamp>$activity_end_time}
            <p>超时无法砍价</p>
            {elseif $new_prize_num<=0}
            <p>奖品库存不足无法砍价</p>
            {else}
            <p>今天帮忙好友砍价次数已达上限，小伙伴明天再来吧</p>
            {/if}
        </div>
        <div class="line"></div>
        <div class="modal_btn">
            <label>知道了</label>
        </div>
    </div>
    <div class="background"></div>
</div>
<script>
    /*分享链接JS*/
    wx.ready(function () {
        sharedata = {
            title: '{$activity[0]["wx_title"]}',
            desc: '{$activity[0]["wx_friend_centent"]}',

            link: "{php echo   $domainname . str_replace('./','/',$this->createMobileUrl('forward',array('oid'=>$oid)))  }",
            imgUrl: 'http://' + "{php echo $_SERVER['HTTP_HOST']}" + '/attachment/{$activity[0]["wx_pic"]}',
            success: function () {
            },
            cancel: function () {
            }
        };
        wx.onMenuShareAppMessage(sharedata);

        wx.hideMenuItems({
            menuList: ["menuItem:copyUrl", "menuItem:share:qq", "menuItem:originPage", "menuItem:share:QZone", "menuItem:openWithQQBrowser", "menuItem:openWithSafari"] // 要显示的菜单项，所有menu项见附录3
        });

    });


    var end_time=$('#end_time').val();//获取活动结束时间
    var time_end =  new Date(end_time.replace('-','/').replace('-','/')).getTime(); //设定目标时间
    var order_end_time=$('#order_end_time').val();//获取订单结束时间
    var now_time=new Date().getTime(); //设定当前时间
    /*未订阅提示JS*/
    $('.main').hide();
    $('#btn').bind('click', function () {

        var new_prize_num=$('#new_prize_num').vale();
        var openid = $('#openid').val();
        var sub = $('#sub').val();
        var follow = $('#follow').val();
        var bargain_num=$('#bargain_num').val();
        var bargain_max=$('#bargain_max').val();
        //判断是否需要关注公众号才能发起活动
        if ((sub == 1 && follow == 0)||openid.length==0) {
            $('#code').show();
            $("body").css({overflow:"hidden"});

        }else if(parseInt(bargain_num)>=parseInt(bargain_max)||parseInt(now_time)>parseInt(order_end_time*1000)||new_prize_num<=0){
            //今日帮忙砍价已达上限砍价次数以达上限
            $('#bargain').show();
            $("body").css({overflow:"hidden"});
        }else {
            window.location = "{php echo $this->createMobileUrl('forward',array('op'=>'help','oid'=>$order[0]['id']));}";
        }
    })
    //关闭提示框按钮
    $('.modal_btn').bind('click', function () {
        $('.main').hide();
        $("body").css({overflow:"visible"});
    })
    //活动倒计时
    $(function(){
        if(parseInt(now_time)<=parseInt(time_end*1000)) {
            activity_time();
        }
        if(parseInt(now_time)<=parseInt(order_end_time*1000)) {
            bargain_time();
        }
    });

    function activity_time(){
        var time_start = new Date().getTime(); //设定当前时间
        var time_end =  new Date(end_time.replace('-','/').replace('-','/')).getTime(); //设定目标时间
        // 计算时间差
        var time_distance = time_end - time_start;
        // 天
        var int_day = Math.floor(time_distance/86400000)
        time_distance -= int_day * 86400000;
        // 时
        var int_hour = Math.floor(time_distance/3600000)
        time_distance -= int_hour * 3600000;
        // 分
        var int_minute = Math.floor(time_distance/60000)
        time_distance -= int_minute * 60000;
        // 秒
        var int_second = Math.floor(time_distance/1000)
        // 时分秒为单数时、前面加零
        if(int_day < 10){
            int_day = "0" + int_day;
        }
        if(int_hour < 10){
            int_hour = "0" + int_hour;
        }
        if(int_minute < 10){
            int_minute = "0" + int_minute;
        }
        if(int_second < 10){
            int_second = "0" + int_second;
        }
        // 显示时间
        $("#time_d").html(int_day);
        $("#time_h").html(int_hour);
        $("#time_m").html(int_minute);
        $("#time_s").html(int_second);
        // 设置定时器
        if (int_day!=0||int_hour!=0||int_minute!=0||int_second!=0){
            setTimeout("activity_time()",1000);
        }

    }
    /*砍价限时*/

    function bargain_time(){
        var time_start = new Date().getTime(); //设定当前时间
        var time_end =  order_end_time*1000 //设定目标时间
        // 计算时间差
        var time_distance = time_end - time_start;
        // 天
        var int_day = Math.floor(time_distance/86400000)
        time_distance -= int_day * 86400000;
        // 时
        var int_hour = Math.floor(time_distance/3600000)
        time_distance -= int_hour * 3600000;
        // 分
        var int_minute = Math.floor(time_distance/60000)
        time_distance -= int_minute * 60000;
        // 秒
        var int_second = Math.floor(time_distance/1000)
        // 时分秒为单数时、前面加零
        if(int_day < 10){
            int_day = "0" + int_day;
        }
        if(int_hour < 10){
            int_hour = "0" + int_hour;
        }
        if(int_minute < 10){
            int_minute = "0" + int_minute;
        }
        if(int_second < 10){
            int_second = "0" + int_second;
        }
        // 显示时间
        $("#order_d").html(int_day);
        $("#order_h").html(int_hour);
        $("#order_m").html(int_minute);
        $("#order_s").html(int_second);
        // 设置定时器
        if (int_day!=0||int_hour!=0||int_minute!=0||int_second!=0)
        {
            setTimeout("bargain_time()",1000);
        }

    }

</script>
{template 'common/footer'}