{template 'common/header'}
{php echo register_jssdk(false);}
<style>
    .footer {
        display: none;
    }

    /*未关注提示框样式*/
    .main {
        position: fixed; /* 使用绝对定位或固定定位  */
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1000;
    }

    .background {
        position: fixed; /* 使用绝对定位或固定定位  */
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #333333;
        opacity: 0.5;
    }

    .modal_main {
        position: relative;
        z-index: 9999;
        display: block;
        margin: 80px auto;
        width: 300px;
        background-color: #ffffff;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: #666 0px 0px 10px;

    }

    .modal_head {
        display: block;
        width: 300px;
        height: 57px;
        padding: 14px;
    }

    .modal_code {
        display: block;
        width: 300px;
        padding: 10px;
    }

    .modal_btn {
        display: block;
        width: 300px;
        height: 48px;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
        color: #3CC51F;
        cursor: pointer;
    }

    .line {
        display: block;
        margin: 0;
        height: 1px;
        background-color: #D5D5D6;
        width: 300px;
    }

    .modal_code img {
        display: block;
        margin: auto;
        width: 200px;
        height: 200px;
    }
    .main_title{
        background-color: #fff;width: 100%;margin: 10px 0 0 0; padding: 1px 10px 10px 10px;
    }
    .text_c{
        text-align: center;
    }
    .title_line{
        display: inline-block;
        width:10%;
    }
    .title_line .linea{
        display: inline-block;
        width: 40%;
        border-bottom: 1px solid #000;
        vertical-align: middle;
    }
    .title_line .lineb{
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border: 1px solid #000;
        vertical-align: middle;
    }
    .title_text{
        display: inline-block;
        padding: 3px 15px;
        color: #000;
        font-size: 18px;
        margin-top: 8px;
        font-weight: bold;
        vertical-align: middle;
    }

</style>


<div style="margin: 0 0 30px 0;padding: 0;background-color: #eeeeee">
    <div class="mui-card-content">
        <img src="{php echo   'http://'.$_SERVER['HTTP_HOST'].'/attachment/'.$activity[0]['head_pic'] }" alt=""
             width="100%">
    </div>
    <div style="padding:5px 15px;background-color: #ffffff">
        <div><h3>{$activity[0]['name']}</h3></div>
        <div style="margin:5px 0 0 0 ">原价<strike>{$activity[0]['prize_old_price']}</strike></div>
        {if !empty($order)}
        <div style="display:inline-block;margin:5px 0 0 0 ">当前价格<strong style="color:#f0ad4e;">{$order[0]['current_price']}</strong>元
        </div>
        {else}
        {if $activity[0]['prize_floor_price']==0}
        <div style="display:inline-block;width:150px;margin:5px 0 5px 0"><strong style="color:#f0ad4e;font-size: 20px">免费</strong>
            {else}
            <div style="display:inline-block;width:150px;margin:5px 0 5px 0">底价<strong style="color:#f0ad4e;">{$activity[0]['prize_floor_price']}</strong>元
                {/if}
            </div>
            {/if}
            <div style="display:inline-block;float: right;text-align: right;margin:5px 5px auto">奖品剩余<strong
                    style="color:#f0ad4e;">{$new_prize_num}</strong>份
            </div>
            <!--活动简介-->
            <div style="display:block;background-color: #f7f7f7;border-radius: 3px;padding: 5px;line-height: 2em; margin: 10px 0px;">
                {$activity[0]['desc']}
            </div>

            {if $new_prize_num==0&&$order[0]['order_status']<2}
            <div style="border:1px solid #f56924;text-align: center;margin: 5px auto;border-radius: 3px;">
                <h3 style="color:#f56924;line-height: 30px;">很遗憾</h3>
                <p>奖品已经被其他小伙伴抢光了</p>
                <p style="color: red">你可以进入公众号参与其他活动</p>
            </div>
            {elseif empty($order)&&$new_prize_num>0}
            <div style="text-align: center;margin: 5px auto;border-radius: 3px; background: #f56924;">
                <input id="btn" type="button" style="background: #f56924;padding: 5px;font-size: 18px;color:#ffffff;border: none;" value="我要砍价">
                <input id="sub" type="hidden" value="{$activity[0]['is_subscription_launch']}">
                <input id="follow" type="hidden" value="{$information['follow']}">
                <input id="openid" type="hidden" value="{$openid}">
                <input id="start_time" type="hidden" value="{$judge2}">
            </div>
            {elseif !empty($order)&&$order[0]['order_status']==0&&$new_prize_num>0}

            <div style="border:1px solid #f56924;text-align: center;margin: 5px auto;border-radius: 3px; padding: 8px;">
                砍价剩余时间：<strong id="order_d">00</strong>天<strong id="order_h">00</strong>小时<strong id="order_m">00</strong>分<strong id="order_s">00</strong>秒
                <input type="hidden" id="order_end_time" value="{$order_end_time}">

            </div>

            {elseif $order[0]['order_status']!=0&&!empty($order)}
            <div style="border:1px solid #f56924;text-align: center;margin: 5px auto;border-radius: 3px;">
                {if $order[0]['order_status']==1}
                <h3 style="color:#f56924;line-height: 30px;">恭喜你砍价成功</h3>
                <input id="pay" type="button"
                       style="margin-bottom:10px;font-size: 20px;border:none;background-color:#f56924;color:#ffffff;border-radius: 3px; " value="支付">
                {elseif $order[0]['order_status']==2}
                <h3 style="color:#f56924;line-height: 30px;">{if $activity[0]['is_cashier_close']==0}恭喜你支付成功{else}恭喜你砍价成功{/if}</h3>
                    {if empty($order[0]['phone'])}
                    <input id="success" type="button"
                       style="margin-bottom:10px;font-size: 20px;border:none;background-color:#f56924;color:#ffffff;border-radius: 3px; "
                        value="提交资料"  >
                    <p>请点击按钮填写资料，务必填写正确信息</p>
                    {elseif !empty($verification_code)&&!empty($order[0]['phone'])}
                    <input id="verification" type="button" style="margin-bottom:10px;font-size: 20px;border:none;background-color:#f56924;color:#ffffff;border-radius: 3px; " value="核销">
                    {else}
                    <p>请点耐心等待客服的联系</p>
                    {/if}
                {else}
                <p style="color:red; padding-top: 10px">已经核销</p>
                {/if}
            </div>
            {/if}

            <!--判断有没人砍价-->
            {if !empty($order) && $bargain_num>0}
            <div style="display:block;text-align: center;background-color: #f56924;border-radius: 3px;padding: 5px; color: #fff; margin: 10px 0px;">
                已有<strong>{$bargain_num}</strong>位好友帮你砍价成功，现价<strong>{$order[0]['current_price']}</strong>元
            </div>
            {elseif !empty($order) && $bargain_num == 0}
            <div style="display:block;text-align: center;background-color: #f0ad4e;border-radius: 3px;padding: 5px; color: #fff;margin: 10px 0px;">
                暂时还没有好友帮你砍价
            </div>
            {/if}
        </div>
        <div>


            <div class="main_title">
                    <div class="text_c" style="margin-top:10px;">
                        <div class="title_line" style="margin-right: -10px;">
                            <span class="linea"></span>
                            <span class="lineb"></span>
                        </div>
                        <div class="title_text">
                            <p style="min-width: 1em; color: rgb(0, 0, 0); font-size: 18px; line-height: 18px; font-weight: bold;">
                                &nbsp;砍价记录&nbsp;
                            </p>
                        </div>
                        <div  class="title_line" style="margin-left: -10px;">
                            <span class="lineb"></span>
                            <span class="linea"></span>
                        </div>
                    </div>
                <p style="text-align: center;margin-top:-10px;">
                    <span style="font-size: 12px; color: rgb(127, 127, 127);">BARGAIN RECORD</span>
                </p>

                {if !empty($order) && $bargain_num>0}
                {loop $assist_information $data}
                <div style="text-align: left;padding:2px 10px"><strong
                        style="color: #f0ad4e">{$data['nickname']}</strong>帮你砍掉了<strong
                        style="color: #f0ad4e">{$data['price']}</strong>元。
                </div>
                {/loop}
                {elseif !empty($order) && $bargain_num == 0}
                <div style="text-align: center;padding:2px 10px">
                    你还没有好友帮你砍价哦！
                </div>
                {/if}
            </div>
            <style>
                .bargain_img img{max-width: 100%;}
            </style>
            <div class="main_title bargain_img">
                    <div class="text_c" style="margin-top:10px;">
                        <div class="title_line" style="margin-right: -10px;">
                            <span class="linea"></span>
                            <span class="lineb"></span>
                        </div>
                        <div class="title_text">
                            <p style="min-width: 1em; color: rgb(0, 0, 0); font-size: 18px; line-height: 18px; font-weight: bold;">
                                &nbsp;活动简介&nbsp;
                            </p>
                        </div>
                        <div  class="title_line" style="margin-left: -10px;">
                            <span class="lineb"></span>
                            <span class="linea"></span>
                        </div>
                    </div>
                <p style="text-align: center;margin-top:-10px;">
                    <span style="font-size: 12px; color: rgb(127, 127, 127);">BARGAIN INTRODUCTION</span>
                </p>


                {$html}
            </div>

            <div class="main_title" style="margin-bottom: 60px;">
                    <div class="text_c" style="margin-top:10px;">
                        <div class="title_line" style="margin-right: -10px;">
                            <span class="linea"></span>
                            <span class="lineb"></span>
                        </div>
                        <div class="title_text">
                            <p style="min-width: 1em; color: rgb(0, 0, 0); font-size: 18px; line-height: 18px; font-weight: bold;">
                                &nbsp;砍价排行&nbsp;
                            </p>
                        </div>
                        <div  class="title_line" style="margin-left: -10px;">
                            <span class="lineb"></span>
                            <span class="linea"></span>
                        </div>
                    </div>
                <p style="text-align: center;margin-top:-10px;">
                    <span style="font-size: 12px; color: rgb(127, 127, 127);">BARGAIN RANKING</span>
                </p>
                <table style=" display:block;width:96%;background-color: #ffffff;font-size: 15px; margin: 0 auto;">
                    <thead >
                    <tr >
                        <th style="width: 200px;text-align: center;padding: 3px;background-color: #eeeeee;color: #999">排名</th>
                        <th style="width: 400px;text-align: center;padding: 3px;background-color: #eeeeee;color: #999">昵称</th>
                        <th style="width: 200px;text-align: center;padding: 3px;background-color: #eeeeee;color: #999">价格</th>
                    </tr>
                    </thead>
                    <tbody  >
                    {loop $top_data $datas}
                    <tr style="border-bottom: 1px dashed #eeeeee;">
                        <td style="text-align: center; padding: 5px 0px;">{$datas['top']}</td>
                        <td style="text-align: center;padding: 5px 0px;">{$datas['nickname']}</td>
                        <td style="text-align: center;padding: 5px 0px;">{$datas['current_price']}</td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--活动倒计时-->
    <div style="position:fixed;bottom:0;z-index:99;width:100%;padding:15px;background-color: #ffffff;color:#000;text-align: center; box-shadow:0px -1px 2px #f7f7f7;">
        活动剩余时间：<strong id="time_d">00</strong>天<strong id="time_h">00</strong>小时<strong id="time_m">00</strong>分<strong
            id="time_s">00</strong>秒
            <input id="end_time" type="hidden" value="{$activity[0]['end_time']}">
    </div>
    <div class="main" id="code">
        <div class="modal_main">
            <div class="modal_code">
                <h4>温馨提示</h4>
                <p style="color: red; line-height: 2em;">
                    请长按二维码进入公众号<br/>
                    {if $level!=4}
                    并回复<span style="background-color:#f7f7f7; border: 1px solid #a8a8a8; padding: 3px 10px;border-radius: 3px; margin: 0px 5px; font-size: 18px;">cj{$aid}</span>发起砍价
                    {/if}
                </p>
                <img class="img" src="{php echo   'http://'.$_SERVER['HTTP_HOST'].'/attachment/'.$activity[0]['wx_qr_code'] }">
            </div>
            <div class="line"></div>
            <div class="modal_btn">
               知道了
            </div>
        </div>
        <div class="background"></div>
    </div>
    <!--活动未开始提示-->
    <div class="main" id="activity">
        <div class="modal_main">
            <div class="modal_code">
                <h3 style="color: red;">活动未开始</h3>
                <p>该活动将于<strong style="color: red">{$activity[0]['start_time']}</strong>开始</p>
                <p>请长按二维码，<span style="color: red">进入公众号</span>了解更多详情</p>
                <img class="img" src="{php echo   'http://'.$_SERVER['HTTP_HOST'].'/attachment/'.$activity[0]['wx_qr_code'] }">
            </div>
            <div class="line"></div>
            <div class="modal_btn">
                知道了
            </div>
        </div>
        <div class="background"></div>
    </div>
</div>

    <script>
        $('.main').hide() //隐藏提示框

        /*分享链接JS*/
        wx.ready(function () {
            sharedata = {
                title: '{$activity[0]["wx_title"]}',
                desc: '{$activity[0]["wx_friend_centent"]}',

                link: "{php echo   $domainname . str_replace('./','/',$this->createMobileUrl('forward',array('oid'=>$order[0]['id'])))  }",
                imgUrl: 'http://' + "{php echo $_SERVER['HTTP_HOST']}" + '/attachment/{$activity[0]["wx_pic"]}',
                success: function () {
                },
                cancel: function () {
                }
            };
            wx.onMenuShareAppMessage(sharedata);

            wx.hideMenuItems({
                menuList: ["menuItem:copyUrl", "menuItem:share:qq", "menuItem:originPage", "menuItem:share:QZone", "menuItem:openWithQQBrowser", "menuItem:openWithSafari"] // 要显示的菜单项，所有menu项见附录3
            });

        });

        /*提示窗JS*/
        $('#btn').bind('click', function () {
            var start_time = $('#start_time').val();//获取活动是否开始状态
            var openid = $('#openid').val();//获取OPEIN
            var sub = $('#sub').val();//获取是否需要关注
            var follow = $('#follow').val();//获取是否有关注
            //判断活动是否开始
            if (start_time == 0) {
                $('#activity').show();
            } else if ((sub == 1 && follow == 0) || openid.length == 0) {   //判断是否需要关注公众号或OEPENID 存在才能发起活动
                $('#code').show()
                $("body").css({overflow: "hidden"});
            } else {
                window.location = "{php echo $this->createMobileUrl('index',array('aid'=>$aid,'op'=>'join'));}";
            }
        })


        //关闭提示框按钮
        $('.modal_btn').bind('click', function () {
            $('.main').hide();
            $("body").css({overflow: "visible"});
        })


        //支付按钮跳转
        $('#pay').bind('click', function () {
            window.location = "{php echo $this->createMobileUrl('index',array('aid'=>$aid,'op'=>'pay'));}";
        })


        //填写资料跳转
        $('#success').bind('click', function () {
            window.location = "{php echo $this->createMobileUrl('information',array('oid'=>$order[0]['id']));}";
        })

        //核销跳转按钮
        $('#verification').bind('click', function () {
            window.location = "{php echo $this->createMobileUrl('verification',array('oid'=>$order[0]['id'],'aid'=>$aid));}";
        })

        var end_time = $('#end_time').val();//获得活动结束时间
        var order_end_time=$('#order_end_time').val();//获取订单结束时间
        var time_end = new Date(end_time.replace('-', '/').replace('-', '/')).getTime(); //设定目标时间
        var now_time = new Date().getTime(); //设定当前时间
        //活动倒计时
        $(function () {
            if (parseInt(now_time) <= parseInt(time_end * 1000)) {
                show_time();
            }
            if(parseInt(now_time)<=parseInt(order_end_time*1000)) {
                bargain_time();
            }
        });

        function show_time() {
            var time_start = new Date().getTime(); //设定当前时间
            var time_end = new Date(end_time.replace('-', '/').replace('-', '/')).getTime(); //设定目标时间
            // 计算时间差
            var time_distance = time_end - time_start;
            // 天
            var int_day = Math.floor(time_distance / 86400000)
            time_distance -= int_day * 86400000;
            // 时
            var int_hour = Math.floor(time_distance / 3600000)
            time_distance -= int_hour * 3600000;
            // 分
            var int_minute = Math.floor(time_distance / 60000)
            time_distance -= int_minute * 60000;
            // 秒
            var int_second = Math.floor(time_distance / 1000)
            // 时分秒为单数时、前面加零
            if (int_day < 10) {
                int_day = "0" + int_day;
            }
            if (int_hour < 10) {
                int_hour = "0" + int_hour;
            }
            if (int_minute < 10) {
                int_minute = "0" + int_minute;
            }
            if (int_second < 10) {
                int_second = "0" + int_second;
            }
            // 显示时间
            $("#time_d").html(int_day);
            $("#time_h").html(int_hour);
            $("#time_m").html(int_minute);
            $("#time_s").html(int_second);
            // 设置定时器
            if (int_day != 0 || int_hour != 0 || int_minute != 0 || int_second != 0) {
                setTimeout("show_time()", 1000);
            }

        }

        /*砍价限时*/

        function bargain_time(){
            var time_start = new Date().getTime(); //设定当前时间
            var time_end =  order_end_time*1000 //设定目标时间
            // 计算时间差
            var time_distance = time_end - time_start;
            // 天
            var int_day = Math.floor(time_distance/86400000)
            time_distance -= int_day * 86400000;
            // 时
            var int_hour = Math.floor(time_distance/3600000)
            time_distance -= int_hour * 3600000;
            // 分
            var int_minute = Math.floor(time_distance/60000)
            time_distance -= int_minute * 60000;
            // 秒
            var int_second = Math.floor(time_distance/1000)
            // 时分秒为单数时、前面加零
            if(int_day < 10){
                int_day = "0" + int_day;
            }
            if(int_hour < 10){
                int_hour = "0" + int_hour;
            }
            if(int_minute < 10){
                int_minute = "0" + int_minute;
            }
            if(int_second < 10){
                int_second = "0" + int_second;
            }
            // 显示时间
            $("#order_d").html(int_day);
            $("#order_h").html(int_hour);
            $("#order_m").html(int_minute);
            $("#order_s").html(int_second);
            // 设置定时器
            if (int_day!=0||int_hour!=0||int_minute!=0||int_second!=0)
            {
                setTimeout("bargain_time()",1000);
            }

        }

    </script>
    {template 'common/footer'}
