{template 'common/header'}
<style>
    body{
        background-color: #eeeeee;
    }
    .footer {
        display: none;
    }
    /*头部样式*/
    .head{
        display: block;
        margin-bottom:  20px;
        width: 100%;
        height: 50px;
        background: #ffffff;
        color:#007aff ;
        box-shadow: #666 0px 0px 10px;
        line-height: 50px;
        text-align: center;
    }
    /*输入表单框样式*/
    .form {
        display: block;
        margin: 0;
        padding:0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: #666 0px 0px 10px;

    }
    .form div{
        display: block;
        width: 100%;


    }
    /*输入表单标签样式*/
    .input span{
        display: inline-block;
        width: 70px;
        font-size: 15px;
        font-family: 'Helvetica Neue',Helvetica,sans-serif;
        color: #333;
        padding: 0 20px;
        line-height: 50px;
        text-align: left;

    }
    /*输入表单输入框样式*/
     .input input{
         display: inline-block;
        border: none;
        outline: none;
        width: 200px;
        height: 46px;
        background-color: white;
    }
    /*输入表单按钮框样式*/
    .btn{
        display: inline-block;
        width: 100px;
        height: 32px;
        border-radius: 5px;
        margin: 10px 5px;
        color: #ffffff;
        outline:none;
    }
    /*提示部分样式*/
    .prompt{
        color: #adadad;
        text-align: center;
        margin-top: 30px;
    }
    .prompt p{
        font-size: 10px;
    }


</style>
<div class="head">
    <h2>完善信息</h2>
</div>

    <form  method="post" class="form" role="form" action="{php echo $this->createMobileUrl('addInformation',array('oid'=>$order[0]['id'],'aid'=>$order[0]['activity_id']))}">
        <div class="input">
            <span>姓名</span><input type="text" name="name"  placeholder="请输入姓名" value="{$order[0]['name']}">
        </div>
        <div style="margin: 0 auto;width: 90%;background-color: #adadad;height: 1px"></div>
        <div class="input">
            <span>手机号</span><input type="text" name="phone"  placeholder="请输入手机号" value="{$order[0]['phone']}">
        </div>
        <div style="margin: 0 auto;width: 90%;background-color: #adadad;height: 1px"></div>
        <div style="text-align: center">
            <input type="submit" value="保存" id="save" class="btn" style="border: 1px solid #007aff;background-color:#007aff ">
            <input class="btn" value="取消" type="button"style="border: 1px solid #dd524d;background-color:#dd524d">
        </div>
    </form>
<div class="prompt">
    <label>温馨提示</label>
    <p >请在填写真实姓名和有效手机号码，方便客服联系到您。</p>
    <p> 注：在客服联系您之后请勿更改个人信息</p>
</div>

{template 'common/footer'}
