{template 'common/header'}
111
<!--
<style>
    .footer {
        display: none;
    }
</style>
<div style="display:block;width: 100%;">
    <div style="display:block;width: 100%;">
        <label>订单编号:</label>{$order[0]['id']}
    </div>
    <div style="display:block;width: 100%;">
        <label>完成时间</label>{$order[0]['update_time']}
    </div>
    <div style="display:block;width: 100%;">
        <label>用户昵称:</label>{$order[0]['nickname']}
    </div>
    <div style="display:block;width: 100%;">
        <label>价格:</label>{$orde[0]['current_price']}
    </div>

</div>
<div style="width: 100%;background-color:#ffffff;">
    <form action="{php echo $this->createMobileUrl('verification',array('op'=>'verification')))}">
        <label>请输入核销码</label><input type="text" name="verification_code" id="verification_code">
        <input type="submit" value="核销">
    </form>
</div>-->
{template 'common/footer'}